@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  background-color: white !important;
}

.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* For a square shape */
  overflow: hidden;
}

.square-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html {
  overflow-y: scroll;
}
